<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


  <bean  id="in" class="spring.processor.Init">  <!-- init-method = "init" -->
	<property name = "p1" value = "10"/>	
  </bean>

  
  <bean  id="in1" class="spring.processor.Init">  <!-- init-method = "init" -->
	<property name = "p1" value = "10"/>	
  </bean>



  <bean  id="in11" class="spring.processor.Init11" init-method = "init">
	<property name = "p1" value = "10"/>	
  </bean>



  <bean id = "pro" class = "spring.processor.MyProcessor"/>
		
      


 
</beans>