<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dbcp" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:xe</value>
		</property>
		<property name="username">
			<value>ramesh</value>
		</property>
		<property name="password">
			<value>kumar</value>
		</property>
	</bean>

	<bean id="factoryBean" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" autowire="byType">
		<property name="configLocation">
			<value>D:/WGP/workspace/Testing/src/spring/hibernateTemplate/hibernate.cfg.xml</value>
		</property>
	</bean>
	
	<bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate" autowire="byType"/>

	<bean id="di" class="spring.hibernateTemplate.DemoInterImpl" autowire="byType"/>

</beans>